.signInButton {
  height: 3rem;
  width: 14rem;
  border-radius: 3rem;
  background: var(--gray-850);
  border: 0;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  white-space: nowrap;

  color: var(--white);
  font-weight: bold;

  transition: filter 0.2s, width 1s;

  svg {
    min-width: 20px;
    min-height: 20px;

    & + span {
      margin-left: 1rem;
    }

    &.closeIcon {
      margin-left: 1rem;
    }
  }

  &:hover {
    filter: brightness(0.85);
  }

  span {
    transition: opacity 0.4s;
  }

  @media (max-width: 650px) {
    width: 62px;
    justify-content: flex-start;

    span {
      opacity: 0;
    }
  }
}
